.About {
  flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 40px 10px;

  /*
  z-index: 1;
  max-width: 100vw;
  margin: 0 auto;

  align-items: center;
  justify-content: flex-start;
   */
}

.About .avtar{
  max-width: 150px;
  margin-top: -100px;
  margin-bottom: 20px;
  z-index: 2;
  border: 3px solid white;
  border-radius: 150px
}

.About h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: .2rem;
  margin-bottom: 30px;
}

.About .about-inner{
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 100%;
}

.About .col-left {
  width: 85%;
  text-align: left;
  /* padding-left: 20px */
  /* height: 250px; */
}

.About .col-left  p {
	margin-bottom: 20px;
  font-size: 14px;
}

.About .col-right {
	width: 95%;
	text-align: left;
	margin-right: 10px;
  padding: 0 10px;
  height: 100%
  /* padding-top: 60px */
}



//*
.About .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid var(--brand-main-full);
	z-index: -1;
  border-radius: 10px
} */

.About .cta {
	color:var(--brand-main-full);
  min-width: 150px;
  /* margin-top: 30px */
}

.About .cta:hover {
	color:white;
  background-color: var(--brand-main-full)
}

.skills-filter{
  justify-content: space-evenly;
  padding-bottom: 15px;
  border-bottom: 2px solid var(--brand-bright-full)
}

.skills-filter h5{
  font-size: 12px;
  padding: 5px 10px;
  border: 1.5px solid var(--brand-bright-full);
  border-radius: 10px;
  cursor: pointer
}

.skills-filter h5.active{
  background-color: var(--brand-bright-full);
  color: white
}

.skills {
  margin-top: 10px
}

.bar-cont {
  background-color: var(--brand-bright-ten);
  width: 100%;
  height: 30px;
  align-items: stretch;
  margin-bottom: 10px
}


.bar-cont .skill{
  box-sizing: border-box;
  display: flex;
  background-color: var(--brand-bright-seventy);
  width: 140px;
  font-size: 12px;
  text-align: left;
  align-items: center;
  justify-content: center;
  color:white;
  font-weight: 800;
}


.bar-outer {
  /* padding:5px; */
  width: 100%;
  justify-content: space-between;
  position: relative;
  align-items: center;
  /* border: 0.5px solid var(--brand-main-full) */
}

.bar-filled {
  background-color: var(--brand-bright-full);
  z-index: 3;
  height: 100%;
  transition: 1.1s 0.2s width ease-in-out;
}

.bar-outer .perc{
  background-color: transparent;
  text-shadow: 1px 1px white;
  position: absolute;
  right: 5px;
  font-size: 12px;
  z-index: 4;
  color: var(--brand-bright-full)
}

@media only screen and (min-width: 800px) {

  .About{
		flex-direction: column;
	}

  .About .about-inner{
  	flex-direction: row;
    padding-bottom: 20px;
  }

	.About .col-left {
		/* margin-left: 60px; */
    padding-left: 10px;
    width: 55%;
	}
	/* .About .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid var(--brand-main-full);
	} */

	.About .col-right {
		text-align: left;
		margin-right: 10px;
    padding: 0 10px;
    width: 45%;
	}

  .skills-filter h5{
    font-size: 14px;
    padding: 5px 10px;
    border: 1.5px solid var(--brand-bright-full);
    border-radius: 10px;
    cursor: pointer
  }

  .About .cta {
    /* margin-top: 50px */
  }

  .About .col-left p {
    font-size: 16px;
    padding: 0 10px;
  }

  .About .col-left {
  	/* min-width: 350px;
  	min-height: 250px;
    width: 450px;
  	height: 350px; */
  }

}
