.Projects {
	flex-direction: column;
	margin: 0 auto;
	padding: 50px 0;
	z-index: 1;
	background-color: white;
}
.Projects .projects-header h1 {
	margin-bottom: 50px;
}
.Projects .all-projects {
	align-items: center;
	justify-content: center;
	padding: 0 5px;
	max-width: 1200px;
	position: relative;
}

.Projects .project-item {
	align-items: center;
	justify-content: center;
	width: 90%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 20px;
	opacity: 0;
}

.Projects .project-item:nth-child(odd) {
	transform: translateX(50vw);
}

.Projects .project-item:nth-child(even) {
	transform: translateX(-50vw);
}

.Projects .project-item.show-animate {
	transform: translateX(0);
	opacity: 1;
  transition: transform 2s, opacity 2s;
}


.Projects .project-info {
	padding: 20px;
	flex-basis: 60%;
	height: 100%;
	align-items: flex-start;
	justify-content: center;
	background-image: linear-gradient(60deg, #485563 0%, #5D6E81 100%);
	color: white;
}

.Projects .project-info h1 {
	font-size: 24px;
	font-weight: 500;
}

.Projects .project-info h2 {
	font-size: 16px;
	font-weight: 500;
	margin-top: 10px;
}

.Projects .project-info p {
	color: white;
}

.Projects .project-img {
	flex-basis: 40%;
	height: 250px;
	width: 100%;
	overflow: hidden;
	position: relative;
	/* border-radius: 0 20px 20px 0 */
}

.Projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .7;
	/* border-radius: 0 20px 20px 0 */
}

.Projects .project-img img {
	transition: .3s ease transform;
}
.Projects .project-item:hover .project-img img {
	transform: scale(1.1);
	/* border-radius: 20px; */
}

.Projects .upcoming-project{
	align-items: center;
}

.Projects h3 {
	margin: 10px 30px;
	font-size: 16px;
	text-align:center;
}

.Projects h3:nth-child(1) {
	font-size: 16px;
	color: var(--brand-bright-full);
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid var(--brand-bright-full)
}


.Projects h3 h2{
	margin-left: 20px;
	font-size: 50px;
}

.Projects .cta:hover{
	background-color: var(--brand-bright-full);
	border-color: var(--brand-bright-full)
}

@media only screen and (min-width: 768px) {

	.Projects .project-item {
		flex-direction: row;
	}
	.Projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	.Projects .project-item {
		height: 400px;
		width: 100%;
		/* border-radius: 0; */
	}
	.Projects .project-info h1 {
		font-size: 30px;
	}
	.Projects .project-info h2 {
		font-size: 18px;
	}
	.Projecs .all-projects{
		padding: 0 20px;
	}
	.Projects .all-projects .project-info {
		height: 100%;
		padding: 20px;
	}
	.Projects .all-projects .project-img {
		height: 100%;
	}
	.Projects h3:nth-child(1) {
		font-size: 24px;
	}
}
