.Services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 50px 0;
	background-color: var(--brand-main-ten)
}

.Services .service-top {
	max-width: 800px;
	margin: 0 30px;
}

.Services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
	align-items: stretch

}
.Services .service-item {
	flex-basis: 80%;
	align-items: center;
	justify-content: center;
	padding: 30px;
	border-radius: 10px;
	background-image: url(../img/img-1.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
  box-sizing: border-box;
	transform: translateY(30vh);
	opacity: 0
}

.Services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(80deg, #485563 0%, #5D6E81 100%);
	opacity: .9;
	z-index: -1;
}

.Services .service-bottom .icon {
	height: 70px;
	width: 70px;
	margin-bottom: 20px;
}

.Services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}


.Services .service-item p {
	color: white;
	text-align: left;
}


.Services .show-animate {
	transform: translateY(0);
	opacity: 1;
  transition: transform 1.5s, opacity 3s;
}



@media only screen and (min-width: 768px) {

	.Services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}


}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {

	.Services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */
